#menu {
    display: flex;
    flex-direction: row;
}

#menu .menu-item{
    list-style: none;
}

#menu .menu-item{
    
}

#menu .menu-item:first-child{
    align-self: flex-start;
}


#menu {
    display: flex;
    flex-direction: row;
}

#menu .menu-item{
    list-style: none;
}

#menu .menu-item{
    
}

#menu .menu-item:first-child{
    align-self: flex-start;
}

